# Frontend Environment Variables

# API Configuration
VITE_API_URL=http://localhost:8080/api

# Auth Configuration
VITE_AUTH_CLIENT_ID=oauth2-pkce-client
VITE_AUTH_ENDPOINT=http://localhost:8181/realms/fitness-app/protocol/openid-connect/auth
VITE_AUTH_TOKEN_ENDPOINT=http://localhost:8181/realms/fitness-app/protocol/openid-connect/token
VITE_AUTH_REDIRECT_URI=http://localhost:5173
